body {
  background-color: $color-white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 31rem;
    height: 54%;
    transform: translateX(-50%);
    border-radius: 0 0 15rem 0;
    background: linear-gradient(
      45deg,
      hsl(264, 100%, 61%),
      hsl(285, 100%, 63%)
    );

    @media (min-width: 50rem) {
      height: 87%;
      border-radius: 0 0 15rem 15rem;
      transform: translateX(-17%);
    }
  }
}

.container {
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3.75rem;
  padding: 4rem 2.25rem;
  max-width: 30rem;
  margin: 0 auto;
}

.description {
  text-align: center;

  h1 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $main-heading;
  }

  p {
    line-height: 1.75;
    color: hsl(270, 7%, 64%);
  }
}

@media (min-width: 50em) {
  .container {
    height: 100%;
    max-width: 64rem;
    padding: 0 3rem;
    padding-left: clamp(3rem, -13rem + 25vw, 9.5rem);
    gap: clamp(4rem, -1rem + 10vw, 8rem);
    flex-direction: row-reverse;
  }

  .description {
    text-align: left;
  }
}
