body {
  background-color: $color-white;
}

.container {
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3.75rem;
  padding: 4rem 2.25rem;
  max-width: 30rem;
  margin: 0 auto;
}

.description {
  text-align: center;

  h1 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $main-heading;
  }

  p {
    line-height: 1.75;
    color: hsl(270, 7%, 64%);
  }
}

@media (min-width: 50em) {
  .container {
    height: 100%;
    max-width: 64rem;
    padding: 0 3rem;
    padding-left: clamp(3rem, -13rem + 25vw, 9.5rem);
    gap: clamp(4rem, -1rem + 10vw, 8rem);
    flex-direction: row-reverse;
  }

  .description {
    text-align: left;
  }
}
