body {
  background-color: $color-white;
}

.container {
  z-index: 2;
  @include flex-center-aligned(3.75rem);
  flex-direction: column-reverse;
  padding: 4rem 2.25rem;
  max-width: 30rem;
  margin: 0 auto;
}

.description {
  text-align: center;

  h1 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $main-heading;
  }

  p {
    line-height: 1.75;
    color: hsl(270, 7%, 64%);
  }
}

@media (min-width: 50em) {
  .container {
    height: 100%;
    max-width: 64rem;
    padding: 0 3rem;
    gap: clamp(4rem, -1rem + 10vw, 8rem);
    flex-direction: row-reverse;
  }

  .description {
    text-align: left;
  }
}
