*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: hsl(0deg, 0%, 100%);
}

.container {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 3.75rem;
  flex-direction: column-reverse;
  padding: 4rem 2.25rem;
  max-width: 30rem;
  margin: 0 auto;
}

.description {
  text-align: center;
}
.description h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: hsl(271deg, 36%, 24%);
}
.description p {
  line-height: 1.75;
  color: hsl(270deg, 7%, 64%);
}

@media (min-width: 50em) {
  .container {
    height: 100%;
    max-width: 64rem;
    padding: 0 3rem;
    gap: clamp(4rem, -1rem + 10vw, 8rem);
    flex-direction: row-reverse;
  }
  .description {
    text-align: left;
  }
}
.app {
  width: 15.5rem;
  min-width: 15.5rem;
  background-color: hsl(270deg, 20%, 96%);
  border-radius: 2rem;
  border: 0.625rem solid hsl(0deg, 0%, 100%);
  box-shadow: 0 1rem 2rem rgba(62, 39, 83, 0.2);
  position: relative;
}
.app::before {
  content: "";
  background-color: hsl(0deg, 0%, 100%);
  width: 8rem;
  height: 1.75rem;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 1rem 1rem;
  z-index: 50;
}
.app__topbar {
  font-size: 0.75rem;
  background: linear-gradient(45deg, hsl(264deg, 100%, 61%), hsl(293deg, 100%, 63%));
  color: hsl(0deg, 0%, 100%);
  padding: 2rem 0.75rem 0.75rem;
  border-radius: 1.375rem 1.375rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.app__chat {
  font-size: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.app__input {
  background-color: hsl(0deg, 0%, 100%);
  padding: 0.5rem 0.375rem 0.375rem 1.25rem;
  margin: 0.5rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  gap: 0;
}

.topbar__info {
  flex: 1;
  display: flex;
  gap: 0.5rem;
}
.topbar__name {
  font-size: 0.625rem;
  letter-spacing: 0.5px;
  color: hsl(0deg, 0%, 100%);
}
.topbar__status {
  font-size: 0.5rem;
  color: hsl(276deg, 100%, 81%);
}
.topbar__img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(0deg, 0%, 100%);
}

.message {
  line-height: 1.35;
}
.message--text {
  padding: 0.25rem;
  max-width: 60%;
  display: block;
  padding: 0.375rem 0.625rem;
  color: hsl(276deg, 55%, 52%);
}
.message--text.message--sent {
  background-color: hsl(272deg, 41%, 93%);
}
.message--text.message--received {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(271deg, 15%, 43%);
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.1);
}
.message--radio {
  background: linear-gradient(230deg, hsl(264deg, 100%, 61%), hsl(293deg, 100%, 63%));
  padding: 0.5rem 0.875rem 0.5rem 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 75%;
  color: hsl(0deg, 0%, 100%);
}
.message--img-group {
  display: flex;
  gap: 0.5rem;
}
.message--img-group img {
  width: 2.5rem;
  border-radius: 0.75rem;
}
.message--sent {
  margin-right: auto;
  border-radius: 0.75rem 0.75rem 0.75rem 0.25rem;
}
.message--received {
  margin-left: auto;
  border-radius: 0.75rem 0.75rem 0.25rem 0.75rem;
}
.message--sent + .message--received, .message--received + .message--sent {
  margin-top: 0.5rem;
}

.radio__btn {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 1px solid hsl(289deg, 100%, 72%);
}
.radio__text {
  flex: 1;
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
}
.radio__price {
  font-size: 0.75rem;
  font-weight: 700;
}

.input__placeholder {
  color: hsl(206deg, 6%, 79%);
  font-size: 0.625rem;
  flex: 1;
}
.input__btn {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(271deg, 36%, 24%);
}

@media (min-width: 64rem) {
  .app {
    margin-left: 6.75rem;
  }
}
/*
App TODO
    1. README add screenshot
    2. README add links
    3. README add useful resources

    1. CSS add background shapes
    2. radio colors check
    3. CSS change namings
*//*# sourceMappingURL=main.css.map */